body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

/* Header */
.top-header {
  width: 100%;
  background-color: #82de9b;
  padding: 15px 0px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 50px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  gap: 20px;
  letter-spacing: 10px;
  margin-left: 25px;
}

/* Page center */
.page {
  margin:100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card */
.card {
  background-color:#82de9b;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0,0,0,0.15);
  width: 350px;
  text-align: center;
}

label {
  display: block;
  text-align: left;
  margin-top: 1rem;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.3rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}

button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.75rem;
  background-color:black;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

button:hover {
  background-color:white;
  color:black;
}

.msg {
  color: #dc2626;
  font-weight: 600;
  margin-bottom: 1rem;
}

.switch {
  margin-top: 1rem;
  font-size: 0.9rem;
}
