body {
    background: #82de9b;
    margin: 0;
    padding:0;
    font-family: Arial, sans-serif;
}

.form-container {
    width: 50%;
    margin: 50px auto;
    background: #fff;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
    text-align: center;
    opacity: 0.9;
}

h2 {
    margin-top: 0;
    font-size: 26px;
    font-weight: bold;
}

p {
    margin-top: -10px;
    color: #666;
}

form {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px; /* wider gap between left and right */
    row-gap: 25px;

}

.form-group {
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 12px;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

.checkbox-row {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.submit {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;   /* centers horizontally */
    align-items: center;       /* centers vertically (optional) */
    gap: 20px;                 /* space between buttons */
    width: 100%; /* take full row */          
}

.submit-btn {
    width: 200px;              /* fixed size for both buttons */
    padding: 12px;
    background: #1ca74a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.submit-btn:hover {
    background: black;
}



.top-header {
    width:100%;
    padding: 15px 0px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    background-color: #82de9b;
}



.menu {
    display: flex;
    justify-content: space-between; /* logo left, links right */
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
    letter-spacing: 10px;
    margin-left: 25px;
}

.menu-links {
    display: flex;
    gap: 50px;
}


/* MENU BUTTONS */
.menu-item {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 0;
    transition: 0.2s;
    letter-spacing: 3px;
}

.menu-item:hover {
    transform: translateY(-2px);
    text-decoration: underline;
}


@media (max-width: 768px) {
    .form-container {
        width: 90%;
        margin: 20px auto;
        padding: 25px;
    }

    form {
        grid-template-columns: 1fr; /* single column layout */
        gap: 20px;
    }

    .submit {
        flex-direction: column; /* stack buttons vertically */
        gap: 15px;
    }

    .submit-btn {
        width: 100%; /* full width buttons */
    }

    .checkbox-row {
        flex-direction: column;
        gap: 10px;
    }
}

/* LOGOUT */

